<ion-header>
  <ion-toolbar>
    <ion-title>Movies app</ion-title>
    <ion-searchbar debounce="500" animated placeholder="Search movies" ([ngModel])="term" (ionChange)="onIonChange($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-virtual-scroll [items]="items">
    <ion-item *virtualItem="let item">
      <ion-avatar item-start>
        <ion-img [src]="item.Poster"></ion-img>
      </ion-avatar>
      {{ item.Title }}
    </ion-item>
  </ion-virtual-scroll>
</ion-content>
